body {
    background-color: rgb(14, 14, 36);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#bro {
    border: 2px solid rgb(65, 14, 14);
    margin-bottom: 200px;
}

#wwork {
    border: 2px solid rgb(21, 8, 68);
}

a{
    text-decoration: none;
    color: rgb(162, 255, 190);
}

h2{
    color:rgb(162, 162, 255)
}